.author {
    color: gold;
    font-size: 1.5em;
    margin: 0;
    text-shadow:
    0 0 5px black,
    0 0 3px black;
}

.invisible {
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .author {
        font-size: 4.5vw;
    }
}