p {
    color: lightslategray;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.main-text {
    font-size: 3em;
    color: white;
    background: none;
    padding: 0;
    margin: 0;
    transform: translateY(8%);
    -webkit-transform: translateY(8%);
    -moz-transform: translateY(8%);
    -ms-transform: translateY(8%);
    -o-transform: translateY(8%);
}

.secondary-text {
    font-size: 3em;
    background: none;
    color: gray;
}

input {
    margin-left: 0.25em;
    font-size: 1.75em;
    padding: 0.25em;
    border: none;
    border-radius: 0.5em;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: transparent;
    color: white;
    box-shadow: 0 0 20px purple;
}


.main-text-container {
    width: 55vw;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.1em;
}

.main-text-container.waiting-state {
    width: fit-content;
    padding: 1.5em 3em;
    border-radius: 1em;
    background-color: #1c1e21ee;
    box-shadow: 0 0 10px 15px #1c1e21ee;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.main-text-container.main-state .main-text {
    /* text-shadow: 0px 0px 5px black; */
    text-shadow:
    -3px -3px 0 #000,
     0   -3px 0 #000,
     3px -3px 0 #000,
     3px  0   0 #000,
     3px  3px 0 #000,
     0    3px 0 #000,
    -3px  3px 0 #000,
    -3px  0   0 #000,
    0 0 5px black,
    0 0 3px black,
    0 0 10px black,
    0 0 7px black,
    0 0 15px black,
    0 0 25px black;
}

.main-container {
    position: fixed;
    height: 100dvh;
    width: 100vw;
    padding: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: row;
}

.main-text-container .arrow {
    display: inline-block;
    margin-left: 0.75em;
    width: 3em;
    height: 3em;
    color: purple;
    vertical-align: middle;
    transform: translateY(-13%);
    -webkit-transform: translateY(-13%);
    -moz-transform: translateY(-13%);
    -ms-transform: translateY(-13%);
    -o-transform: translateY(-13%);
    cursor: pointer;
}

.controls-container {
    position: fixed;
    top: 75vh;
    left: 50vw;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: #000000dd;
    padding: 0.6em;
    border: 3px solid lightgray;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-align: center;
    
}

.controls-container .icon {
    width: 2.15em;
    height: 2em;
    margin: 0 0.5em;
    cursor: pointer;
    color: white;
}

.controls-container .icon.unavailable {
    cursor: default;
    display: none;
}

.subtitle {
    color: lightslategray;
    font-size: 1.7em;
    margin: 0.45em 0.5em 0 0;
}

select {
    margin: 0 0.25em;
    font-size: 1.2em;
}

.reader-explained {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    margin-top: 0.5em;
}