p {
    color: lightslategray;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.primary-text {
    font-size: 3em;
    color: white;
    background: none;
    padding: 0 0.25em 0 0;
    transform: translateY(8%);
    -webkit-transform: translateY(8%);
    -moz-transform: translateY(8%);
    -ms-transform: translateY(8%);
    -o-transform: translateY(8%);
}

.primary-text,.secondary-text {
    margin: 0;
    padding: 0;
    line-height: 1.225em;
}

.secondary-text {
    font-size: 3em;
    background: none;
    color: gray;
}

.input-field {
    margin-left: 0.25em;
    font-size: 1.2em;
    padding: 0.25em;
    border: none;
    border-radius: 0.5em;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: transparent;
    color: white;
    box-shadow: 0 0 30px purple;
    height: 2.5em;
    transform: translateY(-0.45em);
    -webkit-transform: translateY(-0.45em);
    -moz-transform: translateY(-0.45em);
    -ms-transform: translateY(-0.45em);
    -o-transform: translateY(-0.45em);
    color: red;
}


.primary-text-container {
    width: 55vw;
    min-width: 55vh;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.1em;
    padding: 0;
}

.primary-text-container.waiting-state {
    width: fit-content;
    padding: .75em 3em;
    border-radius: 1em;
    background-color: #1c1e21ee;
    box-shadow: 0 0 10px 15px #1c1e21ee;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.primary-text {
    /* text-shadow: 0px 0px 5px black; */
    text-shadow:
    -3px -3px 0 #000,
     0   -3px 0 #000,
     3px -3px 0 #000,
     3px  0   0 #000,
     3px  3px 0 #000,
     0    3px 0 #000,
    -3px  3px 0 #000,
    -3px  0   0 #000,
    0 0 5px black,
    0 0 3px black,
    0 0 10px black,
    0 0 7px black,
    0 0 15px black,
    0 0 25px black;
}

.primary-container {
    position: fixed;
    height: 100dvh;
    width: 100vw;
    padding: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: row;
}

.primary-text-container .arrow {
    display: inline-block;
    margin-left: 0.75em;
    width: 2.5em;
    height: 2.5em;
    color: purple;
    vertical-align: middle;
    transform: translateY(-13%);
    -webkit-transform: translateY(-13%);
    -moz-transform: translateY(-13%);
    -ms-transform: translateY(-13%);
    -o-transform: translateY(-13%);
    cursor: pointer;
}

.controls-container {
    position: fixed;
    top: 75vh;
    left: 50vw;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: #000000dd;
    padding: 0.6em;
    border: 3px solid lightgray;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-align: center;   
}

.controls-container .icon {
    width: 2.15em;
    height: 2em;
    margin: 0 0.5em;
    cursor: pointer;
    color: white;
}

.controls-container .icon.unavailable {
    cursor: default;
    display: none;
}

.subtitle {
    color: lightslategray;
    font-size: 1.7em;
    margin: 0.25em 0.5em 0 0;
}

select {
    margin: 0 0.25em;
    font-size: 1.2em;
}

.reader-explained {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    margin-top: 0.5em;
}

#settingsModal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    background-color: #000000dd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.modal-option-name {
    color: black;
    font-size: 1.3em;
    font-weight: 300;
    display: inline-block;
    padding-right: .5em;
    margin: 0;
}

.btn-sm {
    font-size: 100em;
}

/* .fix-dropdown {
    position: absolute;
    bottom: 0.2em;
} */

.inline-block {
    display: inline-block;
}

a {
    transform: translate(0%);
    -webkit-transform: translate(0%);
    -moz-transform: translate(0%);
    -ms-transform: translate(0%);
    -o-transform: translate(0%);
}

.hide-container {
    opacity: 0;
    transition: 2s ease all;
    -webkit-transition: 2s ease all;
    -moz-transition: 2s ease all;
    -ms-transition: 2s ease all;
    -o-transition: 2s ease all;
}

.show-container {
    opacity: 1;
}

.no-cursor {
    cursor: none;
}

@media (max-width: 768px) {
    .primary-text,.secondary-text {
      font-size: 3.5vh; /* Adjusted font size for mobile */
      line-height: 3.8vh;
    }
    .primary-text {
        text-shadow:
    -2px -2px 0 #000,
     0   -2px 0 #000,
     2px -2px 0 #000,
     2px  0   0 #000,
     2px  2px 0 #000,
     0    2px 0 #000,
    -2px  2px 0 #000,
    -2px  0   0 #000,
    0 0 15px #000;
    }
    .author {
        font-size: 2vh; /* Adjusted font size for mobile */
    }
    .subtitle {
        font-size: 20px; /* Adjusted font size for mobile */
        display: inline-block;
        margin: .2em 0;
    }
    .primary-text-container.waiting-state {
        width: 100vw;
        box-sizing: border-box;
        text-align: center;
        font-size: 1.1em;
        padding: 1em 0;
    }

    .primary-text-container.main-state {
        width: 90vw;
        min-width: 80vw;
    }


    .controls-container {
        width: 90vw;
    }

    .controls-container .icon {
        width: 7vw;
        height: 7vw;
        margin: 0 0.5em;
        cursor: pointer;
        color: white;
    }
    
    .modal-option-name {
        font-size: 2.25vh;
    }
  }